---
import {model} from "../model";
const {experiences} = model;
---

<div class="card bg-base-100 border">
    <div class="card-body">
        <h2 class="card-title">Experience</h2>
        <ul class="timeline timeline-vertical">
            {experiences.map(e =>
                    <li>
                        <div class="timeline-start">{e.range_from} — {e.range_to}</div>
                        <div class="timeline-middle"><span class="badge badge-primary"></span></div>
                        <div class="timeline-end timeline-box bg-base-200">
                            <h3 class="font-semibold">{e.position} — {e.company}</h3>
                            <p class="text-sm text-base-content/70">{e.location}</p>
                            <ul class="list-disc list-inside mt-2 text-sm leading-relaxed">
                                {e.description.map(d =>
                                        <li>{d}</li>)}
                                {e.link &&
                                        <li>Link: <a class="link" target="_blank"
                                                     href={e.link.url}>{e.link.name}</a>
                                        </li>
                                }
                            </ul>
                        </div>
                    </li>
            )}
        </ul>
    </div>
</div>
